<h1>Projects index</h1>

<% @projects.each do |p| %>
  <ul>
    <li>
      <h4><%= link_to(p.title, project_path(p.id)) %></h4>
      <% if p.user %>
        <p>by <%= image_tag p.user.avatar.url(:thumb) %> <%= link_to p.user.email, user_path(p.user.id), :action => 'get', :method => 'get' %></p>
      <% end %>
      <p><%= p.description %></p>
    </li>
  </ul>
<% end %>
